*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

body {
    font-family: "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
}

a {
    outline: none;
}

.nce-container {
    background: #ffffff;
    height: 380px;
    min-height: 350px;
    overflow-y: auto;
    padding: 15px;
    width: 540px;
    position: relative;
}

/* Header */
.nce-header {
    background: #000000;
    color: #ffffff;
    padding: 15px;
}
.nce-header h1 {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 0 12px;
    display: inline-block;
    vertical-align: middle;
}
.nce-logo {
    vertical-align: middle;
}


/* Switch */
.nce-switch {
    margin-bottom: 18px !important;
	  text-align: left;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 10px;
    top: 25px;
}
.nce-toggle {
    margin-left: -9999px;
    position: absolute;
    visibility: hidden;
	}
.nce-toggle + label {
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  	font-weight: 400 !important;
    height: 26px;
    outline: medium none;
    padding: 2px;
    position: relative;
    width: 50px;
	}
.nce-toggle + label:before, .nce-toggle + label:after {
    bottom: 1px;
    content: "";
    display: block;
    left: 1px;
    position: absolute;
    top: 1px;
	}
.nce-toggle + label:before {
    background-color: #d5dadf;
    border-radius: 50px;
    color: white;
	  font-size: 12px;
    padding: 1px 0 0 9px;
    right: 2px;
    transition: background 0.4s ease 0s;
}
.nce-toggle + label:after {
    background-color: #fff;
    border-radius: 50px;
    color: #d0d5d5;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
    margin-top: 2px;
    padding: 0 0 0 3px;
    transition: margin 0.2s ease-in-out 0s;
    width: 20px;
	}
.nce-toggle:checked + label:before  {
    background-color: #000000;
}
.nce-toggle[disabled] + label:before {
    background-color: #d5dadf;
    cursor: not-allowed;
}
.nce-toggle[disabled] + label:after {
    cursor: not-allowed;
}
.nce-toggle:checked + label:after {
    margin-left: 25px;
}
.sw-label {
    margin: 3px 0 0 75px;
}


/* Assets list */
#nce-assets-list {
    padding: 0;
    margin: 15px 0 0 0;
}
.nce-asset {
    border: 1px solid #e2e2e2;
    padding: 10px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.nce-container.usd-price-display .normal-price {
    display: none;
}
.nce-container .usd-price {
    display: none;
}
.nce-container.usd-price-display .usd-price {
    display: inline-block;
}
.nce-asset-info {
    position: relative;
    padding-left: 42px;
}
.nce-asset-logo {
    position: absolute;
    left: 0;
    top: -1px;
}
.nce-asset-full-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
}
.nce-asset-last-price {
    font-size: 13px;
}
.nce-saubsatoshi {
    color: #d0cece;
}
.nce-asset-symbol {
    margin-right: 6px;
}
.nce-asset-24h-info {
    color: #999999;
    text-align: right;
    position: relative;
    padding-left: 40px;
}
.nce-asset-change {
    margin-left: 30px;
}
.nce-asset-change.green {
    color: #63c66d;
}
.nce-asset-change.red {
    color: #ed1c24;
}



/* Assets tabs */
.nce-tabs-wrapper {
    border-bottom: 1px solid #e2e2e2;
    display: block;
    list-style: none;
    padding: 0;
    margin: 10px 0 20px 0;
}
.nce-tab {
    display: inline-block;
    padding: 8px 16px;
    margin-left: -4px;
    border-bottom: 3px solid transparent;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}
.nce-tab:hover {
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}
.nce-tab.active {
    border-bottom: 3px solid #000000;
}

.nce-tab-content {
    display: none;
}
.nce-tab-content.active {
    display: block;
}


/* Footer */
.nce-footer {
    border-top: 1px solid #e2e2e2;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
.nce-footer a {
    color: #808080;
}
.nce-footer a:hover {
    color: #333333;
}

/* Loader */
#nce-loader {
    background-image: url("/assets/images/progress-circle.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

#nce-loader.hide{
  display: none;
}
